/* ******** RESET ******** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* ******** VARIABLES ******** */
:root {
  /* var */
  --header-height: 4.5rem;

  /*colors*/
  --hue: 210; /* foi criado uma variável com hue que torna mais fácil trocar as cores do site*/
  /* HSL Color Mode */
  --base-color: hsl(var(--hue) 80% 35%);
  --base-color-second: hsl(var(--hue) 80% 35%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
  /* FONTS */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1.5rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/* ******** BASE ******** */
html {
  scroll-behavior: smooth;
}

/*define a fonte geral dos textos no body*/
body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

/*define a fonte geral dos textos no h2*/
.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

/*configura todos associados a button*/
.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
  cursor: pointer;
}

/*botão quando passa o mouse por cima*/
.button:hover {
  background: var(--base-color-alt);
}

/*bordinha para separar seções*/
.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1) 0%,
    hsla(var(--hue), 65%, 88%, 0.34) 100%
  );
}

/* ******** LAYOUT ******** */
/*define as configs gerais da aba do logo + menu*/
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;

}

/*divide o container em grid, como se fosse uma malha, possibilitando o empilhamento do content dividido quando muda o dispositivo/tamanho da tela, o gap é o espaçamento entre os quadrados*/
.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: calc(5rem + var(--header-height)) 0;

}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

.section header {
  margin-bottom: 4rem;
}

.section header .title strong {
  color: var(--base-color);
}

#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

#header .scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.18);
}

#header .button {
  align-self: center;
}

#header .button a {
  color: var(--body-color);
  text-align: center;
}

/* ******** LOGO ******** */
.logo {
  font: 700 1.3125rem var(--title-font);
  color: var(--title-color);
}

.logo span {
  color: var(--base-color);
}

.logo-alt span {
  color: var(--body-color);
}

/* ******** NAVIGATION ******** */

nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--base-color);
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/*Mostrar menu*/
nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--body-color);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

/* ******** TOGGLE MENU ******** */
.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;

  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/* ******** HOME ******** */
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 3rem;
  left: 10%
}

#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -3%;
  left: -5%;
  z-index: 0;
}

#home .image img {
  position: relative;
  right: 3rem;
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home .text {
  position: relative;
  margin: auto 1.5rem auto 1.5rem;
  text-align: center;
  right: 12%
}

#home .text h2 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
}

/* ******** ABOUT ******** */
#matricula {
  background: white;
  padding: 0;
  margin: 0;
  border: 0;
  display: grid;
  justify-content: center;
}

#matricula .container {
  padding: 1rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

#matricula .container .grid {
  max-width: 70%;
  max-height: 25rem;
}

#matricula .container .grid:hover {
  background: var(--base-color-alt);
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 36%, 57%, 1)
  );
}

/* ******** cursos ******** */
.cards.grid {
  gap: 1.5rem;
}

.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

.card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

.card img{
  max-width: 15rem;
  max-height: 15rem;
  width: auto;
  height: auto;
}

/* ******** DICAS ******** */
#dicas {
  background: white;
}

#dicas .container {
  margin-left: 0;
  margin-right: 0;
}

#dicas header {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0;
}

#dicas blockquote {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
}

#dicas blockquote p {
  position: relative;
  text-indent: 1.875rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--title-color);
  font-size: 1.5rem;
}

#dicas blockquote p img {
  position: relative;
  align-content: center;
}

#dicas blockquote p span {
  font: 900 2.5rem serif;
  position: absolute;
  top: -0.375rem;
  left: -1.875rem;
  color: var(--base-color);
}


/*swiper*/
.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}

.swiper-pagination-bullet-active {
  background: var(--base-color);
}

/* ******** CONTACT ******** */
#about .grid {
  gap: 4rem;
}

#about .text p {
  margin-bottom: 2rem;
}

#about .button i,
#about ul li i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#about ul.grid {
  gap: 2rem;
}

#about ul li {
  display: flex;
  align-items: center;
}

#about ul li i {
  color: var(--base-color);
}

/* ******** FOOTER ******** */
footer {
  background: var(--base-color);
}

footer .section {
  padding: 4rem 0;
}

footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}

footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}

footer .social {
  display: flex;
  gap: 2rem;
}

footer .social a {
  transition: .3s;
}

footer .social a:hover {
  transform: translateY(-30%);
}

footer i {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

/* ******** BACK-TO-TOP ******** */
.back-to-top {
  background: var(--base-color);
  color: var(--text-color-light);

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 0.5rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: .2s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.title-format {
  font-family: 'Poppins';
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  margin-bottom: 31px;
  color: #0F241D;

  text-shadow: 0px 4px 4px rgba(54, 156, 163, 0.25);;
}


/* Respnsivo */
/*=========== MEDIA QUERIES ===========*/
/* extra large devices: >1200 */
@media (min-width: 1200px) {
  /* reused classes */
  /* objetcts change */

  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 10rem 0;
  }

  .section header,
  #dicas header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    height: 3.125rem;
  }

  /* navigation section */
  nav .menu {
  opacity: 1;
  visibility: visible;
  top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title{
    font: 400 1rem var(--body-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-menu {
    display: none;
  }

  /* layout */

  main {
    margin-top: var(--header-height);
  }

  /*home section*/

  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;

  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
  }

  /* matricula section */

  .section #matricula {
    padding: calc(var(--header-height)) 0;
  }

  #matricula .container {
    grid-auto-flow: column;
    margin: 0;
  }

  /* cursos section */
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  /* dicas section */

  #dicas .container {
    margin-left: auto;
    margin-right: auto;
  }

  /* about section */

  #about .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #about .text {
    max-width: 25rem;
  }

  /* footer section */

  footer.section {
    padding: 3.75rem;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.25rem;
  }
}
/* large devices: >1023 */
/* large devices: >992 */
@media (min-width: 400px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }

  #matricula .container .grid {
    max-width: 90%;
    width: fit-content;
    justify-self: center;
  }
  
  #matricula .container .grid .img {
    justify-self: center;
  }
}
